extends /layout/default

block beforehtml
  -
    title = '分享 LINE 數位版名片'
    description = '請開啟本連結並按一下「分享好友」來分享給好友或群組。'

block style
  meta(property="og:image:height", content="630")
  meta(property="og:image:width", content="1200")
  meta(property="og:image", content="https://i.imgur.com/1KZoSue.png")
  meta(property="og:url", content=`https://liff.line.me/${liffidFull}/share.html`)
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/PamornT/flex2html@main/css/flex2html.css")
  style
    :sass
      [v-cloak]
        display: none

block content
  #app.container.my-4.text-monospace(v-cloak, v-show="!loading")
    h3.my-3.text-center {{ $t('title') }}
    .form-group.my-3
      button.btn.btn-lg.btn-success.btn-block.d-flex.justify-content-center.align-items-center(type="button", @click="btnShare", :disabled="!msgs") #[i.fa.mr-2.fa-share-square-o] {{ $t('share.btn') }}
      small.form-text.text-muted.mt-2 {{ $t('share.help') }}
    .form-group.my-3
      button.btn.btn-lg.btn-info.btn-block.d-flex.justify-content-center.align-items-center(type="button", @click="btnSend", :disabled="!msgs") #[i.fa.mr-2.fa-paper-plane-o] {{ $t('send.btn') }}
      small.form-text.text-muted.mt-2 {{ $t('send.help') }}
    .form-group.my-3
      .btn-group.btn-group-lg.w-100
        button.btn.btn-outline-secondary.btn-block.d-flex.justify-content-center.align-items-center(type="button", @click="btnCopy(linkLiffV2)") #[i.fa.mr-2.fa-clipboard] {{ $t('copy.btn') }}
        button.btn.btn-outline-secondary.dropdown-toggle.dropdown-toggle-split(type="button", data-toggle="dropdown")
        .dropdown-menu.dropdown-menu-right
          button.dropdown-item(type="button", @click="btnCopy(linkLiffV1)") {{ $t('copy.btn') }} (LIFF v1)
          button.dropdown-item(type="button", @click="btnCopy(linkLihi)") {{ $t('copy.btn') }} (lihi1.com)
      small.form-text.text-muted.mt-2 {{ $t('copy.help') }}
    .dropdown.my-3
      button.btn.btn-lg.btn-secondary.btn-block.dropdown-toggle(type="button", data-toggle="dropdown") {{ $t('dropdown.btn') }}
      .dropdown-menu
        a.dropdown-item(target="_blank", href="https://line.me/R/nv/QRCodeReader") #[i.fa.fa-fw.fa-qrcode] {{ $t('dropdown.qrcodeReader') }}
        a.dropdown-item(target="_blank", href="https://line.me/R/nv/addFriends") #[i.fa.fa-fw.fa-users] {{ $t('dropdown.addFriends') }}
        a.dropdown-item(target="_blank", href="https://line.me/R/nv/keep") #[i.fa.fa-fw.fa-bookmark] {{ $t('dropdown.keep') }}
        a.dropdown-item(target="_blank", href=baseurl+'?openExternalBrowser=1') #[i.fa.fa-fw.fa-address-card] {{ $t('dropdown.create') }}
        a.dropdown-item(target="_blank", href="https://lihi1.com/CVjIx/liffshare") #[i.fa.fa-fw.fa-comments] {{ $t('dropdown.discuss') }}
        button.dropdown-item(type="button", @click="btnFriendMissing") #[i.fa.fa-fw.fa-question-circle] {{ $t('dropdown.friendMissing') }}
    .table-responsive(style="background-color: #849ebf")
      .chatbox.pt-3
        #flex2html(ref="flex2html")

block script
  script(crossorigin="anonymous", src="https://static.line-scdn.net/liff/edge/2/sdk.js")
  script(crossorigin="anonymous", src="https://cdn.jsdelivr.net/gh/PamornT/flex2html@main/js/flex2html.min.js")
  script.
    /** global gtag */
    const loginPromise = (async () => {
      await liff.init({ liffId: '#{liffidFull}' })
      if (window.getSearchParam('liff.state')) await new Promise(resolve => {}) // 永遠不會結束的 Promise
      if (!liff.isLoggedIn()) {
        liff.login({ redirectUri: location.href })
        await new Promise(resolve => {}) // 永遠不會結束的 Promise
      }
      const profile = await liff.getProfile().catch(err => {
        window.logError({ err })
        return {}
      })
      window.gtag.configUserId(profile.userId)
      return profile
    })()
    window.vueConfig = {
      el: '#app',
      data: {
        linkLiffV1: null,
        linkLiffV2: null,
        linkLihi: null,
        loading: true,
        msgs: null,
        profile: null,
        render: null,
        vcard: null,
      },
      async mounted () {
        try {
          this.showLoading(this.$t('wait'), this.$t('init.loading'))
          this.profile = await loginPromise
          this.linkLiffV2 = liff.permanentLink.createUrl()
          this.setOtherLinksByLiffV2(this.linkLiffV2)
          await Promise.all([
            this.getTpl(),
            this.getVcard(),
          ])
          console.log('vcard', this.vcard)
          this.msgs = this.getRenderedMsgs()
          console.log('msgs', this.msgs)
          for (const msg of this.msgs) {
            window.flex2html('flex2html', msg)
          }
          this.hideLoading()
          await this.showSavedAlert()
        } catch (err) {
          window.logError({ err, fatal: true })
          await this.swalFire({ icon: 'error', title: this.$t('init.fail'), text: err.message })
        }
        if (liff.isInClient() && liff.isApiAvailable('shareTargetPicker')) await this.btnShare(true)
        this.loading = false
      },
      computed: {
        locale: {
          get () { return this.$i18n.locale },
          set (newVal) { this.$i18n.locale = newVal },
        },
      },
      methods: {
        async getTpl () {
          const { gtag } = window
          try {
            const tpl = this.paramBase64url('template')
            if (_.isNil(tpl)) throw new Error('template is required.')
            const render = _.template(_.get(await axios.get(tpl, {
              params: { cachebust: Date.now() },
              transformResponse: [],
            }), 'data'))
            if (!_.isFunction(render)) throw new Error('')
            const liffLink = this.isInOpenChat() ? this.linkLiffV1 : this.linkLiffV2
            const { profile = {} } = this

            // generate fake page_view for template_impression
            const baks = _.omitBy(_.fromPairs(await Promise.all(_.map(['client_id', 'session_id', 'user_id'], async k => {
              let timer = null
              const val = await new Promise(resolve => {
                timer = setTimeout(() => { resolve(undefined) }, 2000) // timeout
                gtag('get', gtag.id, k, resolve)
              })
              if (!_.isNil(timer)) clearTimeout(timer)
              return [k, val]
            }))), _.isNil)
            console.log(`baks = ${JSON.stringify(baks)}`)
            // generate clientId by line userId
            const gtagClientId = gtag.genClientIdByLineId(profile.userId)
            const gtagSessionId = `${liff.getDecodedIDToken()?.iat ?? Math.trunc(Date.now() / 1e3)}`
            gtag('event', 'page_view', {
              client_id: gtagClientId,
              page_location: location.href,
              page_title: document.title,
              session_id: gtagSessionId,
              user_id: null,
            })
            gtag('config', gtag.id, baks)

            this.render = options => render({ gtagClientId, gtagSessionId, liffLink, profile, ...options })
          } catch (err) {
            err.message = `${this.$t('init.getTplFail')}${err.message ? ': ' + err.message : ''}`
            this.render = null
            throw err
          }
        },
        async getVcard () {
          this.vcard = _.mapValues(_.omit(_.fromPairs([...new URL(location).searchParams]), [
            'code',
            'liffClientId',
            'liffRedirectUri',
            'state',
            'template',
          ]), window.decodeBase64url)
        },
        async btnShare (slient = false) {
          try {
            this.showLoading(this.$t('wait'), this.$t('share.loading'))
            window.gtag.event('template_share', { method: 'liff_share', template_url: this.vcard.template })
            if (!liff.isApiAvailable('shareTargetPicker')) throw new Error(this.$t('share.unsupported'))
            const beforeShare = Date.now()
            const res = await liff.shareTargetPicker(this.msgs)
            const afterShare = Date.now()
            if (_.get(res, 'status') !== 'success') {
              if (!slient) throw new Error(this.$t('share.canceled'))
              return
            }
            await this.swalFire({ icon: 'success', title: this.$t('share.success') })
            if (afterShare - beforeShare > 1e3) liff.closeWindow()
          } catch (err) {
            window.logError({ err })
            await this.swalFire({ icon: 'error', title: this.$t('share.fail'), text: err.message })
          } finally {
            this.hideLoading()
          }
        },
        async btnSend () {
          try {
            this.showLoading(this.$t('wait'), this.$t('send.loading'))
            window.gtag.event('template_share', { method: 'liff_send', template_url: this.vcard.template })
            if (!this.canSendMessages()) throw new Error(this.$t('send.unsupported'))
            await liff.sendMessages(this.msgs)
            await this.swalFire({ icon: 'success', title: this.$t('send.success') })
            liff.closeWindow()
          } catch (err) {
            window.logError({ err })
            await this.swalFire({ icon: 'error', title: this.$t('send.fail'), text: err.message })
          }
        },
        async btnCopy (text, container = null) {
          window.gtag.event('clipboard_copy', { content_type: 'text', text: _.truncate(text, { length: 30, omission: '' }) })
          if (!container) container = document.body
          const dom = document.createElement('textarea')
          dom.value = text
          container.appendChild(dom)
          dom.select()
          dom.setSelectionRange(0, 1e6) // For mobile devices
          document.execCommand('copy')
          container.removeChild(dom)
          await this.swalFire({ icon: 'success', title: this.$t('copy.success') })
        },
        async showSavedAlert () {
          const swalFire = window.parseJsonOrDefault(localStorage.getItem('swalFire'))
          localStorage.removeItem('swalFire')
          if (_.isNil(swalFire)) return
          await this.swalFire(swalFire)
        },
        async btnFriendMissing () {
          await this.swalFire({
            padding: '0',
            customClass: { actions: 'mt-0 mb-2', content: 'pt-3 px-3' },
            html: this.$t('dropdown.friendMissingHtml'),
          })
        },
        async swalFire (args) {
          if (_.isPlainObject(args)) args = { footer: this.$t('swalFooter'), ...args }
          return await Swal.fire(args)
        },
        getRenderedMsgs () {
          let msg = this.render({ vcard: this.vcard })
          msg = JSON5.parse(msg)
          if (_.includes(['bubble', 'carousel'], _.get(msg, 'type'))) {
            msg = { type: 'flex', altText: this.$t('flexAltText'), contents: msg }
          }
          msg = _.castArray(msg)
          return msg
        },
        canSendMessages () {
          if (!liff.isInClient()) return false
          const contextType = _.get(liff.getContext(), 'type')
          if (!_.includes(['utou', 'room', 'group', 'square_chat'], contextType)) return false
          return true
        },
        paramBase64url (key) {
          const base64 = window.getSearchParam(key)
          return base64 ? window.decodeBase64url(base64) : null
        },
        paramGzip (key) {
          const base64 = window.getSearchParam(key)
          return base64 ? window.decodeGzip(base64) : null
        },
        setOtherLinksByLiffV2 (v2) {
          const match = v2.match(/^.*?\/(\d+-[^/]+)\/(.*)$/)
          const path = encodeURIComponent(match[2])
          this.linkLiffV1 = `https://line.me/R/app/${match[1]}?redirect=${path}`
          this.linkLihi = `https://lihi1.com/hFW7P/${path}`
        },
        isInOpenChat () {
          const context = liff.getContext()
          return _.get(context, 'type') === 'square_chat'
        },
        showLoading (title, text) {
          Swal.fire({
            title,
            text,
            allowOutsideClick: false,
            showConfirmButton: false,
            willOpen: () => { Swal.showLoading() },
          })
        },
        hideLoading () {
          Swal.close()
        },
      },
    }
  // vue-i18n
  include /i18n/liff-full/share.en.pug
  include /i18n/liff-full/share.zh-tw.pug
  //- 給予修改 vueConfig 的機會
  block vue-config
  script.
    (async () => {
      if (_.isFunction(window.beforeVueCreate)) await window.beforeVueCreate()
      window.vueConfig.i18n = new VueI18n({ // vue-i18n
        locale: navigator.language,
        fallbackLocale: 'zh-TW',
        messages: (window.i18nMessages || {}),
      })
      window.vm = new Vue(window.vueConfig)
    })()
