extends /layout-forms

block beforehtml
  - const title = '動物森友會卡片'

block meta
  meta(property="fb:app_id", content="2133031763635285")
  meta(property="og:description", content="點此連結來製作「動物森友會」的卡片吧！")
  meta(property="og:image:height", content="640")
  meta(property="og:image:width", content="1280")
  meta(property="og:image", content="https://i.imgur.com/3WhiaK2.png")
  meta(property="og:locale", content="zh_TW")
  meta(property="og:site_name", content="筆記國度")
  meta(property="og:title", content=title)
  meta(property="og:type", content="website")
  meta(property="og:url", content=baseUrl+"forms/acnh-postcard-1.html")

block style
  style
    :sass
      #designs .btn-sm
        font-size: .75rem

block form
  .form-group.my-2
    label(for="vcard-design") 卡片底圖
    select#vcard-design.form-control.d-sm-none(v-model="vcard.design")
      option(v-for="(design, id) of designs", :value="id") {{ design.name }} ({{ id }})
    small#help-label.form-text.text-muted.d-sm-none 請選擇卡片的底圖。
    img.my-2.rounded.d-block.d-sm-none.mx-auto(v-if="vcard.design", :src="`https://i.imgur.com/${designs[vcard.design].imgur}m.png`", style="max-width: 320px")
    #designs.ml-0.row.row-cols-2.row-cols-sm-3.row-cols-lg-4.row-cols-xl-5.d-none.d-sm-flex
      .col.mb-1.pl-0(v-for="(design, id) of designs")
        .card
          img.card-img-top(:src="`https://i.imgur.com/${design.imgur}m.png`")
          .card-body.p-1
            button.btn.btn-light.btn-block.btn-sm.px-1(type="button", v-if="vcard.design === id", disabled) 已選擇「{{ design.name }}」
            button.btn.btn-outline-primary.btn-block.btn-sm.px-1(type="button", @click="vcard.design = id", v-else) 選擇「{{ design.name }}」
  .form-group.my-2
    label(for="vcard-to") 收件人
    input#vcard-to.form-control.form-control-sm(type="text", v-model="vcard.to")
    small#help-label.form-text.text-muted 請填寫卡片收件人。
  .form-group.my-2
    label(for="vcard-from") 寄件人
    input#vcard-from.form-control.form-control-sm(type="text", v-model="vcard.from")
    small#help-label.form-text.text-muted 請填寫卡片寄件人。
  .form-group.my-2
    label(for="vcard-body") 卡片內容
    textarea#vcard-body.form-control.form-control-sm(type="text", v-model="vcard.body", style="min-height: 200px")
    small#help-label.form-text.text-muted 請填寫卡片內容。

block before-vue
  script.
    window.vueData = {
      designs: {
        MsgAcademy00: { bg: '#00000000', body: '#210E0A', from: '#210E0A', imgur: 'zx0bo9H', name: '快樂家協會卡片', to: '#210E0A' },
        MsgActive00: { bg: '#00000000', body: '#F3FC00', from: '#00FFC3', imgur: '8sVICE9', name: '塗鴉卡片', to: '#00FFC3' },
        MsgActive01: { bg: '#00000000', body: '#010D2A', from: '#980F00', imgur: 'Yihz9Sp', name: '星星卡片', to: '#980F00' },
        MsgBaby00: { bg: '#00000000', body: '#1B879D', from: '#251615', imgur: '8xIFyua', name: '嬰兒用品卡片', to: '#251615' },
        MsgBank00: { bg: '#00000000', body: '#00572E', from: '#00572E', imgur: 'DhzKAP5', name: 'Nook卡片', to: '#00572E' },
        MsgBirthday00: { bg: '#00000000', body: '#170B03', from: '#170B03', imgur: 'xfSp5hO', name: '生日蛋糕卡片', to: '#170B03' },
        MsgBirthday01: { bg: '#00000000', body: '#1B1611', from: '#0D0001', imgur: 'kRmLcN8', name: '蝴蝶結卡片', to: '#0D0001' },
        MsgBirthday02: { bg: '#FAF8DF', body: '#20160A', from: '#D13C00', imgur: 'Mx6V72r', name: '氣球卡片', to: '#D13C00' },
        MsgChristmas00: { bg: '#00000000', body: '#FFFFFF', from: '#FFFFFF', imgur: 'JScyCqk', name: '大樹卡片', to: '#FFFFFF' },
        MsgChristmas01: { bg: '#00000000', body: '#6D0000', from: '#004120', imgur: 'Ed9XQhV', name: '聖誕卡片', to: '#004120' },
        MsgChristmas02: { bg: '#410000', body: '#FFFFFF', from: '#FFFFFF', imgur: 'XwEGa6x', name: '溫暖針織衫卡片', to: '#FFFFFF' },
        MsgCool00: { bg: '#00000000', body: '#6D6D6D', from: '#BBBBBB', imgur: 'vUdZO4P', name: '酷感卡片', to: '#BBBBBB' },
        MsgCool01: { bg: '#00000000', body: '#FFD990', from: '#D1C330', imgur: 'N02E9RM', name: '迷彩卡片', to: '#D1C330' },
        MsgCute00: { bg: '#00000000', body: '#FFC8A3', from: '#FFC8A3', imgur: 'ardsyJX', name: '少女情懷卡片', to: '#FFC8A3' },
        MsgCute01: { bg: '#00000000', body: '#2807CB', from: '#F64E09', imgur: 'M64Qsv0', name: '奇幻星星卡片', to: '#EB1BBF' },
        MsgDal00: { bg: '#00000000', body: '#FFFFFF', from: '#FFFFFF', imgur: '0EehJ8p', name: 'DodoAirlines', to: '#FFFFFF' },
        MsgEaster00: { bg: '#F8F6D3', body: '#281511', from: '#281511', imgur: 'xy8lLHI', name: '復活節卡片', to: '#281511' },
        MsgElegant00: { bg: '#7ABB92', body: '#07412F', from: '#053643', imgur: 'NqT3l9r', name: '寶石卡片', to: '#053643' },
        MsgElegant01: { bg: '#00000000', body: '#E1B962', from: '#D1B42D', imgur: 'zlTCtBf', name: '優雅玫瑰卡片', to: '#D1B42D' },
        MsgEncourage00: { bg: '#00000000', body: '#021200', from: '#271003', imgur: 'Z13sWEP', name: '幸福幸運草卡片', to: '#271003' },
        MsgFall00: { bg: '#00000000', body: '#7B210D', from: '#ED2104', imgur: '4ZNe5Nf', name: '芒草與紅蜻蜓卡片', to: '#ED2104' },
        MsgFall01: { bg: '#00000000', body: '#FFDB83', from: '#FFDB83', imgur: 'QoO9zNS', name: '落葉地毯卡片', to: '#FFDB83' },
        MsgFall02: { bg: '#00000000', body: '#E9CF85', from: '#EDE1AB', imgur: 'GgE5cNn', name: '蘑菇卡片', to: '#EDE1AB' },
        MsgFall03: { bg: '#00000000', body: '#FFEB9E', from: '#FFEB9E', imgur: 'uPD4aoV', name: '橡栗卡片', to: '#FFEB9E' },
        MsgFather00: { bg: '#B8FFDF', body: '#0C4390', from: '#030956', imgur: 'qLzankT', name: '父親節卡片', to: '#030956' },
        MsgFish00: { bg: '#00000000', body: '#AD1600', from: '#E5DFC1', imgur: 'Zd12B6F', name: '俞司廷卡片', to: '#041554' },
        MsgGorgeous00: { bg: '#00000000', body: '#D3871D', from: '#873500', imgur: 'GI5FlDc', name: '天鵝絨卡片', to: '#873500' },
        MsgGorgeous01: { bg: '#00000000', body: '#6D0F05', from: '#F4FF87', imgur: 'FAEmCt7', name: '裝飾風格卡片', to: '#F4FF87' },
        MsgGraduate00: { bg: '#00000000', body: '#FFFFFF', from: '#FFFFFF', imgur: 'qdEuLWj', name: '畢業卡片', to: '#FFFFFF' },
        MsgHalloween00: { bg: '#00000000', body: '#EBC726', from: '#F6F1BB', imgur: 'FfLmydl', name: '南瓜卡片', to: '#F6F1BB' },
        MsgHalloween01: { bg: '#00000000', body: '#FF5504', from: '#FFA907', imgur: 'vLP3Bta', name: '萬聖節卡片', to: '#FFA907' },
        MsgInsect00: { bg: '#00000000', body: '#71BF73', from: '#71BF73', imgur: '3sBBFby', name: '龍克斯卡片', to: '#71BF73' },
        MsgLove00: { bg: '#00000000', body: '#B01B1B', from: '#EF5656', imgur: 'ObLF0ME', name: '甜美愛心卡片', to: '#EF5656' },
        MsgMilage00: { bg: '#00000000', body: '#23237D', from: '#23237D', imgur: 'PIHalBD', name: 'Nook集哩遊卡片', to: '#23237D' },
        MsgMother00: { bg: '#FFD9B8', body: '#900C37', from: '#560313', imgur: 'ZpdMXkX', name: '母親節卡片', to: '#560313' },
        MsgNewyear00: { bg: '#090650', body: '#975BFF', from: '#4864E9', imgur: 'c6lbsN4', name: '新年快樂卡片', to: '#FF7DE5' },
        MsgNewyear01: { bg: '#00000000', body: '#0B0603', from: '#0B0603', imgur: '1ICanEr', name: '日本富士山卡片', to: '#0B0603' },
        MsgOther00: { bg: '#00000000', body: '#FFD3AD', from: '#FFA12A', imgur: 'Oq397My', name: '和風卡片', to: '#FFA12A' },
        MsgOther01: { bg: '#00000000', body: '#000000', from: '#000000', imgur: '8RWEHRI', name: '航空郵件卡片', to: '#000000' },
        MsgOther03: { bg: '#00000000', body: '#282828', from: '#282828', imgur: 'OYieTy1', name: '文具卡片', to: '#282828' },
        MsgOther04: { bg: '#00000000', body: '#43D1C2', from: '#FFFFFF', imgur: 'ambQRKH', name: '齒輪卡片', to: '#FFFFFF' },
        MsgOther05: { bg: '#00000000', body: '#FFFFFF', from: '#4100BF', imgur: 'HSoY5Wt', name: '愛心滿滿卡片', to: '#4100BF' },
        MsgOther06: { bg: '#00000000', body: '#BDEBFF', from: '#69D3FF', imgur: 'dL8u9KG', name: '藍天卡片', to: '#69D3FF' },
        MsgShopping00: { bg: '#00000000', body: '#1B0800', from: '#1B0800', imgur: 'iSBQ8kU', name: '禮物卡片', to: '#1B0800' },
        MsgSimple00: { bg: '#00000000', body: '#371E18', from: '#371E18', imgur: 'LqBHztr', name: '常見卡片', to: '#371E18' },
        MsgSimple01: { bg: '#00000000', body: '#2B2B2B', from: '#2B2B2B', imgur: 'OavIsIR', name: '撕下的卡片', to: '#2B2B2B' },
        MsgSnowfes00: { bg: '#00000000', body: '#FFFFFF', from: '#09577B', imgur: 'pF7P8jE', name: '雪人卡片', to: '#09577B' },
        MsgSpring00: { bg: '#00000000', body: '#480A1F', from: '#F41D61', imgur: 'SJuzNsn', name: '櫻花紛飛卡片', to: '#F41D61' },
        MsgSpring01: { bg: '#00000000', body: '#DF2D04', from: '#033000', imgur: 'IYUDElL', name: '蒲公英卡片', to: '#033000' },
        MsgSpring02: { bg: '#00000000', body: '#BF2000', from: '#520C03', imgur: 'Xtfayw7', name: '繁花綻放卡片', to: '#520C03' },
        MsgStar00: { bg: '#00000000', body: '#B0DDE7', from: '#3BB2EB', imgur: '8RL8od0', name: '流星卡片', to: '#3BB2EB' },
        MsgSummer00: { bg: '#00000000', body: '#053351', from: '#0E120E', imgur: '7nfaLoz', name: '金魚卡片', to: '#0E120E' },
        MsgSummer01: { bg: '#00000000', body: '#001764', from: '#FFFFFF', imgur: 'KQMtlxU', name: '積雨雲卡片', to: '#0A0A10' },
        MsgSummer02: { bg: '#E5DFDF', body: '#004868', from: '#DB0037', imgur: '9W44YVv', name: '扶桑花卡片', to: '#DB0037' },
        MsgSummer03: { bg: '#00000000', body: '#601600', from: '#3F0900', imgur: 'OHtTcJO', name: '沙灘卡片', to: '#3F0900' },
        MsgSympathy00: { bg: '#00000000', body: '#022D67', from: '#FFFFFF', imgur: 'bz8ftDm', name: '絆創帶卡片', to: '#FFFFFF' },
        MsgThanksgiving00: { bg: '#B04B00', body: '#320300', from: '#791000', imgur: 'jkTfSY3', name: '感謝祭卡片', to: '#791000' },
        MsgThankyou00: { bg: '#00000000', body: '#550700', from: '#270B06', imgur: 'b5is08F', name: '捧花卡片', to: '#270B06' },
        MsgThankyou01: { bg: '#00000000', body: '#201A17', from: '#0A8F36', imgur: 'NUB66Vd', name: '幾何圖形卡片', to: '#0A8F36' },
        MsgTotakeke00: { bg: '#00000000', body: '#443F3F', from: '#181818', imgur: 'OozIkDG', name: 'K.K.卡片', to: '#181818' },
        MsgTsunekichi00: { bg: '#00000000', body: '#002F36', from: '#002F36', imgur: 'mVYhd2z', name: '九尾狐利卡片', to: '#002F36' },
        MsgValentine00: { bg: '#00000000', body: '#FFFFFF', from: '#FFD1EB', imgur: 'RfEAXTG', name: '愛心巧克力卡片', to: '#FFD1EB' },
        MsgValentine01: { bg: '#00000000', body: '#FFE6E9', from: '#FFA63A', imgur: 'nAgMlBR', name: '巧克力卡片', to: '#FFA63A' },
        MsgWedding00: { bg: '#00000000', body: '#1FA1B5', from: '#104689', imgur: 'JriiP3Z', name: '結婚卡片', to: '#104689' },
        MsgWinter00: { bg: '#00000000', body: '#002C57', from: '#0D5B7F', imgur: 'ZOz5Td9', name: '雪花卡片', to: '#0D5B7F' },
        MsgWinter01: { bg: '#00000000', body: '#0D1324', from: '#FFFFFF', imgur: 'c88UxVS', name: '冬季山茶花卡片', to: '#FFFFFF' },
        MsgWinter02: { bg: '#00000000', body: '#340300', from: '#1B0000', imgur: 'SOqnV1u', name: '城市景色卡片', to: '#1B0000' },
      },
      vcard: {
        body: '我之前在岸邊散步時，\n突然冒出了新的 DIY 靈感！\n今天我就特別優待！\n把這個方程式告訴你吧！\n至於要怎麼做，就全看你自己了！',
        design: 'MsgAcademy00',
        from: '將希望寄託於你的帕塔雅  筆',
        template: '#{baseUrl}cards/acnh-postcard-1.txt',
        to: '給偶然撿到這個瓶子的你',
      },
    }