extends /layout/forms

block beforehtml
  -
    title = 'LINE 數位版名片 (CSV)'
    description = '從 CSV 讀取名片資料來產生名片'

block meta
  meta(property="og:image:height", content="640")
  meta(property="og:image:width", content="1280")
  meta(property="og:image", content="https://i.imgur.com/CU3myIc.png")
  meta(property="og:url", content=baseurl+"forms/csv.html")

block form
  .form-group.was-validated.my-2
    label(for="vcard-template") 名片樣板
    input#vcard-template.form-control.form-control-sm(type="url", inputmode="url", required, pattern="https?://\\S+", v-model.trim="vcard.template")
    small.form-text.text-muted 請填寫名片樣板網址。
  .form-group.was-validated.my-2
    label(for="vcard-csv") CSV
    input#vcard-csv.form-control.form-control-sm(type="url", inputmode="url", required, pattern="https?://\\S+", v-model.trim="vcard.csv")
    small.form-text.text-muted 請填寫名片資料 CSV 網址。
  .form-group.was-validated.my-2
    label(for="vcard-key") 比對欄位
    input#vcard-key.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.key")
    small.form-text.text-muted 請填寫您想要比對的名片資料欄位。
  .form-group.was-validated.my-2
    label(for="vcard-value") 比對資料
    input#vcard-value.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.value")
    small.form-text.text-muted 請填寫您想要比對的名片資料欄位內容。

block vue-config
  script.
    const cfg = window.vueConfig
    cfg.computed.shortcut = function () {
      const params = window.httpBuildQuery(_.mapValues(this.vcard, window.encodeBase64url))
      if (!_.isString(params) || !params.length) return
      return `https://liff.line.me/#{liffidFull}/share-csv.html?${params}`
    }
    cfg.data.vcard = {
      template: '#{baseurl}cards/chatbot-tw-coscup-2020.txt',
      csv: '#{baseurl}csv/chatbot-tw-coscup-2020.csv',
      key: 'id',
      value: '1',
    }
